<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings version="2">
    <category label="Servidor">
        <group label="Configurações do Servidor">
            <setting id="servidor_atual" type="string" label="Servidor Atual" default="1"/>
            <setting id="url_servidor" type="string" label="URL do Servidor" default=""/>
            <setting id="usuario" type="string" label="Usuário" default=""/>
            <setting id="senha" type="string" label="Senha" option="hidden" default=""/>
        </group>
    </category>
    <category label="Reprodução">
        <group label="Configurações do Player">
            <setting id="buffer_size" type="integer" label="Tamanho do Buffer (MB)" default="250" min="50" max="500"/>
            <setting id="timeout" type="integer" label="Timeout (segundos)" default="30" min="10" max="120"/>
            <setting id="reconectar" type="boolean" label="Reconectar Automaticamente" default="true"/>
        </group>
    </category>
    <category label="Controle Parental">
        <group label="Proteção de Conteúdo">
            <setting id="parental_ativo" type="boolean" label="Ativar Controle Parental" default="false"/>
            <setting id="parental_pin" type="string" label="PIN (4 dígitos)" option="hidden" default=""/>
            <setting id="classificacao_minima" type="integer" label="Classificação Mínima" default="0" min="0" max="18"/>
        </group>
    </category>
    <category label="Avançado">
        <group label="Opções Avançadas">
            <setting id="debug" type="boolean" label="Modo Debug" default="false"/>
            <setting id="cache_tempo" type="integer" label="Tempo de Cache (horas)" default="24" min="1" max="168"/>
        </group>
    </category>
</settings>
