<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <category label="Geral">
        <setting id="servidor_atual" type="number" label="Servidor ativo (1-20)" default="1"/>
        <setting id="user_agent" type="text" label="User-Agent (opcional)" default="Mozilla/5.0"/>
        <setting id="timeout" type="number" label="Timeout de conexao (segundos)" default="20"/>
    </category>
    <category label="Servidores 1-5">
        <setting id="srv1_nome" type="text" label="1. Nome" default="Servidor #1"/>
        <setting id="srv1_url"  type="text" label="1. URL M3U"  default=""/>
        <setting id="srv1_on"   type="bool" label="1. Habilitado" default="true"/>
        <setting id="srv2_nome" type="text" label="2. Nome" default="Servidor #2"/>
        <setting id="srv2_url"  type="text" label="2. URL M3U"  default=""/>
        <setting id="srv2_on"   type="bool" label="2. Habilitado" default="true"/>
        <setting id="srv3_nome" type="text" label="3. Nome" default="Servidor #3"/>
        <setting id="srv3_url"  type="text" label="3. URL M3U"  default=""/>
        <setting id="srv3_on"   type="bool" label="3. Habilitado" default="true"/>
        <setting id="srv4_nome" type="text" label="4. Nome" default="Servidor #4"/>
        <setting id="srv4_url"  type="text" label="4. URL M3U"  default=""/>
        <setting id="srv4_on"   type="bool" label="4. Habilitado" default="true"/>
        <setting id="srv5_nome" type="text" label="5. Nome" default="Servidor #5"/>
        <setting id="srv5_url"  type="text" label="5. URL M3U"  default=""/>
        <setting id="srv5_on"   type="bool" label="5. Habilitado" default="true"/>
    </category>
    <category label="Servidores 6-10">
        <setting id="srv6_nome" type="text" label="6. Nome" default="Servidor #6"/>
        <setting id="srv6_url"  type="text" label="6. URL M3U"  default=""/>
        <setting id="srv6_on"   type="bool" label="6. Habilitado" default="true"/>
        <setting id="srv7_nome" type="text" label="7. Nome" default="Servidor #7"/>
        <setting id="srv7_url"  type="text" label="7. URL M3U"  default=""/>
        <setting id="srv7_on"   type="bool" label="7. Habilitado" default="true"/>
        <setting id="srv8_nome" type="text" label="8. Nome" default="Servidor #8"/>
        <setting id="srv8_url"  type="text" label="8. URL M3U"  default=""/>
        <setting id="srv8_on"   type="bool" label="8. Habilitado" default="true"/>
        <setting id="srv9_nome" type="text" label="9. Nome" default="Servidor #9"/>
        <setting id="srv9_url"  type="text" label="9. URL M3U"  default=""/>
        <setting id="srv9_on"   type="bool" label="9. Habilitado" default="false"/>
        <setting id="srv10_nome" type="text" label="10. Nome" default="Servidor #10"/>
        <setting id="srv10_url"  type="text" label="10. URL M3U"  default=""/>
        <setting id="srv10_on"   type="bool" label="10. Habilitado" default="false"/>
    </category>
    <category label="Servidores 11-15">
        <setting id="srv11_nome" type="text" label="11. Nome" default="Servidor #11"/>
        <setting id="srv11_url"  type="text" label="11. URL M3U"  default=""/>
        <setting id="srv11_on"   type="bool" label="11. Habilitado" default="false"/>
        <setting id="srv12_nome" type="text" label="12. Nome" default="Servidor #12"/>
        <setting id="srv12_url"  type="text" label="12. URL M3U"  default=""/>
        <setting id="srv12_on"   type="bool" label="12. Habilitado" default="false"/>
        <setting id="srv13_nome" type="text" label="13. Nome" default="Servidor #13"/>
        <setting id="srv13_url"  type="text" label="13. URL M3U"  default=""/>
        <setting id="srv13_on"   type="bool" label="13. Habilitado" default="false"/>
        <setting id="srv14_nome" type="text" label="14. Nome" default="Servidor #14"/>
        <setting id="srv14_url"  type="text" label="14. URL M3U"  default=""/>
        <setting id="srv14_on"   type="bool" label="14. Habilitado" default="false"/>
        <setting id="srv15_nome" type="text" label="15. Nome" default="Servidor #15"/>
        <setting id="srv15_url"  type="text" label="15. URL M3U"  default=""/>
        <setting id="srv15_on"   type="bool" label="15. Habilitado" default="false"/>
    </category>
    <category label="Servidores 16-20">
        <setting id="srv16_nome" type="text" label="16. Nome" default="Servidor #16"/>
        <setting id="srv16_url"  type="text" label="16. URL M3U"  default=""/>
        <setting id="srv16_on"   type="bool" label="16. Habilitado" default="false"/>
        <setting id="srv17_nome" type="text" label="17. Nome" default="Servidor #17"/>
        <setting id="srv17_url"  type="text" label="17. URL M3U"  default=""/>
        <setting id="srv17_on"   type="bool" label="17. Habilitado" default="false"/>
        <setting id="srv18_nome" type="text" label="18. Nome" default="Servidor #18"/>
        <setting id="srv18_url"  type="text" label="18. URL M3U"  default=""/>
        <setting id="srv18_on"   type="bool" label="18. Habilitado" default="false"/>
        <setting id="srv19_nome" type="text" label="19. Nome" default="Servidor #19"/>
        <setting id="srv19_url"  type="text" label="19. URL M3U"  default=""/>
        <setting id="srv19_on"   type="bool" label="19. Habilitado" default="false"/>
        <setting id="srv20_nome" type="text" label="20. Nome" default="Servidor #20"/>
        <setting id="srv20_url"  type="text" label="20. URL M3U"  default=""/>
        <setting id="srv20_on"   type="bool" label="20. Habilitado" default="false"/>
    </category>
</settings>
